doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Strings
    link(rel='stylesheet', href='./css/a1.css')
  body
    h1 Making Strings

    input#first(type='text' autofocus=true placeholder='First Name')
    input#last(type='text' placeholder='Last Name')
    input#movie(type='text' placeholder='Movie Title')
    button#string Make String
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/a1.js')
