doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Days Till
    link(rel='stylesheet', href='./css/a3.css')
  body
    h1 How many days till?

    input#date(type='date')
    button#fromNow Days Till
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/a3.js')
